.App {
  --app-red: #F5624D;
  --app-red-dark: #CC231E;
  --app-red-darker: #7F0E1A;
  --app-green: #34A65F;
  --app-green-dark: #0F8A5F;
  --app-green-darker: #235E6F;
}


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  min-height: 100vh;
  color: white;
  background-attachment: fixed;
  background-color: black;
  background-image: url("./assets/overlay.png"), url("./assets/background.jpg");
  background-size: cover;
  text-align: center;
}

.banner__title {
  font-size: 2.5em;
}

.banner__subtitle {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-size: 1.5em;
}

.banner__button {
  text-transform: uppercase;
  padding: 1em 2em;
  background-color: var(--app-red-dark);
  color: white;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 90px;
  border: solid 1px var(--app-red-dark);
  text-decoration: none;
}

.banner__button:hover {
  cursor: pointer;
  border-color: var(--app-red-darker);
}

.banner__button:active {
  color: black;
}